<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Full Stack Development Services - Creative Labs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Full Stack Development Services is a tech company providing
            website, web app and stand-alone app solutions for your company's needs.">
        <meta name="keywords" content="full stack development, web development, app development, 
            website solutions, web app solutions, stand-alone app solutions, tech company, software development,
            programming services">
        <meta name="robots" content="nofollow">
        <meta name="pragma" content="no-cache">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
            rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="dev_services.css">
        <script defer src="script.js"></script>
    </head>
    <body id="main_pages">
        <header>
            <img src="images/fullstack_DSDA_logo3.gif" class="figure-img img-fluid mx-auto d-block hidden-left" style="width: 300px;">

            <ul class="nav justify-content-center mt-5 gap-3 hidden-left">
                <li class="nav-item">
                    <a href="definition.html" class="nav-link text-decoration-none bg-black bg-opacity-75 hidden-left">{Home}</a>
                </li>
                <li class="nav-item">
                    <a href="websites.html" class="nav-link text-decoration-none bg-black bg-opacity-75">{Website Services}</a>
                </li>
                <li class="nav-item">
                    <a href="apps.html" class="nav-link text-decoration-none bg-black bg-opacity-75 hidden-left">{Application Development}</a>
                </li>
                <li class="nav-item">
                    <a href="creative_labs.html" class="nav-link text-decoration-none bg-black bg-opacity-75 hidden-left">{Creative Labs}</a>
                </li>
                <li class="nav-item">
                    <a href="book_consult.html" class="nav-link text-decoration-none bg-black bg-opacity-75 hidden-left">{Book Consultation}</a>
                </li>
            </ul>
        </header>

        <div class="container mt-5" style="overflow-x: hidden;">
            <div class="row justify-content-center">
                <div class="col-xl-4 text-center text-white hidden-right">
                    <img src="images/labs_logo.png" alt="picture of full stack creative labs logo" class="figure-img img-fluid mx-auto d-block 
                        bg-black bg-opacity-75 mt-3 hidden-right" style="width: 300px;">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 text-center text-white bg-black bg-opacity-75 hidden-right" style="border: 1px solid white;">            
                    <p class="mt-3 hidden-right">
                        Full Stack Creative Labs is an in-house development division whose objective is to research problems existing 
                        within public and private sectors of society and determine how technology can be used to bring about a solution to 
                        those problems.  We are always looking for ways to use technology to make life easier, more efficient and more 
                        enjoyable for people in all industries and walks of life.  Below is a list of projects currently in development at 
                        Full Stack Creative Labs.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container mt-5">
            <div class="row justify-content-start">
                <div class="col-xl-8 text-white bg-black bg-opacity-75 hidden-right" style="border: 1px solid white;">
                    <img src="images/loadless_logo_700white.gif" alt="picture of loadless logo" class="figure-img img-fluid mx-auto d-block 
                        mt-3 hidden-right" style="width: 320px;">
                    <p class="text-center text-white fw-bold">AI Neuro Assistant</p>
                    <p class="text-white mt-3 hidden-right">
                        Loadless is an AI-powered neuro-assistant designed to help individuals diagnosed with Autism Spectrum Disorder, Level 1, 
                        (ASD-1), manage the daily challenges they face in their personal and professional lives. The first version of Loadless 
                        is out of development and currently being prepared for beta testing. 
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-end">
                <div class="col-xl-8 text-white bg-black bg-opacity-75 hidden-left" style="border: 1px solid white;">
                    <h1 class="fw-bold text-center text-white hidden-left" style="font-size: 42pt;">SUN<b class="text-primary">SEIZER</b></h1>
                    <h5 class="text-white text-center fw-bold hidden-left">Tech Pack System</h5>
                    <p class="text-white mt-3 hidden-left">
                        This application is a collaboration between Seizer Change, chief designer for the PMPNU Clothing brand and Full Stack
                        Creative Labs.  Sunseizer is a PLM (Product Lifecycle Management) software solution that is sure to revolutionize 
                        manufacturing in the fashion industry.
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-start">
                <div class="col-xl-8 bg-black bg-opacity-75 hidden-right" style="border: 1px solid white;">
                    <img src="images/OBBD_logo.gif" alt="picture of OBBD logo" class="figure-img img-fluid mx-auto d-block 
                        mt-3 hidden-right" style="width: 200px;">
                    <p class="fw-bold text-center text-white hidden-right">Omaha's Black Business Directory</p>
                    <p class="text-white mt-3 hidden-right">
                        OBBD is a vehicle through which to bring more awareness and patronage to the Black-owned businesses in Omaha, NE.  
                        Other organizations have attempted to develop directories for black-owned businesses, but none will match what is 
                        being created at Full Stack.  This will be the official Black Business Directory for the Omaha area.
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-end">
                <div class="col-xl-8 bg-black bg-opacity-75 hidden-left" style="border: 1px solid white;">
                    <img src="images/stsocksync_logo.png" alt="picture of loadless logo" class="figure-img img-fluid mx-auto d-block 
                        mt-3 hidden-left" style="width: 450px;">
                    <p class="text-white mt-3 hidden-left">
                        StockSync is an app that automates the ordering process for a retail store environment.  Based on distributor contact 
                        information, products carried by a particular distributor, contracted ordering requirements, the location where orders 
                        are placed, and weekly inventory, StockSync will tell you what and how much will need to be ordered and handle the 
                        rest.
                    </p>
                </div>
            </div>
        </div>

        <footer class="bg-black bg-opacity-75 mt-5" style="border-top: 1px solid white;">
            <div class="container mt-2" style="overflow: hidden;">
                <div class="row justify-content-center">
                    <div class="col-xl-4 text-center text-white hidden-left">
                        <img src="images/fullstack_DSDA_logo3.gif" class="figure-img img-fluid mx-auto d-block hidden-left" 
                            style="width: 100px;">
                        <p style="font-size: 12pt;"> 
                            Full Stack Digital Solutions<br>
                            Main Office<br>
                            402-979-6833<br>
                            Omaha, NE 68110<br>
                        </p>
                    </div>
                    <div class="col-xl-4 text-center text-white hidden-left" style="font-size: 12pt;">
                        <ul class="nav justify-content-center mt-2 gap-3 hidden-left">
                            <li class="nav-item">
                                <a href="definition.html" class="nav-link text-decoration-none hidden-left">{Home}</a>
                            </li>
                            <li class="nav-item">
                                <a href="websites.html" class="nav-link text-decoration-none hidden-left">{Website Services}</a>
                            </li>
                            <li class="nav-item">
                                <a href="apps.html" class="nav-link text-decoration-none hidden-left">{Application Development}</a>
                            </li>
                            <li class="nav-item">
                                <a href="creative_labs.html" class="nav-link text-decoration-none hidden-left">{Creative Labs}</a>
                            </li>
                            <li class="nav-item">
                                <a href="book_consult.html" class="nav-link text-decoration-none hidden-left">{Book Consultation}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-4 text-center text-white hidden-left" style="font-size: 12pt;">
                        <ul style="list-style-type: none;">
                            <li>
                                <a href="mailto:fullstackdigitalsolutions@yahoo.com" class="text-decoration-none" id="email_link">
                                    Email: fullstackdigitalsolutions@yahoo.com
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/full-stack-digital-solutions/" target="_blank" 
                                    class="text-decoration-none" id="linkedin_link">
                                    LinkedIn: Full Stack Digital Solutions
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="text-decoration-none" id="book_link">
                                    Facebook:
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="text-decoration-none" id="gram_link">
                                    Instagram:
                                </a>
                            </li>
                        </ul>
                        <br>
                        <p class="text-center" style="font-size: 12pt;">
                            Copyright &copy; 2026 Full Stack Digital Solutions<br>All Rights Reserved<br>
                            Full Stack Digital Solutions is a subsidiary of RKO Media, Inc.
                        </p>
                    </div>
                </div> 
            </div>
        </footer>
    </body>
</html>